*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.board{
    width: 500px;
    height: 500px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.cell{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    border: 1px solid black;
}
.food{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border: 1px solid black;
}
.cell:first-child{
    background-color: rgb(197, 27, 197);
}